<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Form</h1>
  <form  th:action="@{/Loin}" th:object="${getLoin}" method="post">
    <p>Id: <input type="text" th:field="*{id}"/></p>
    <p>pass: <input type="password" th:fueld="*{pass}"/></p>
    <p><input type="submit" value="ログイン" /> <input type="reset" value="Reset" /></p>
  </form>
</body>
</html>